@import "tailwindcss";

@theme {
  --color-primary: #111827;
  --color-primary-foreground: #ffffff;

  --color-secondary: #f3f4f6;
  --color-secondary-foreground: #111827;

  --color-accent: #e5e7eb;
  --color-accent-foreground: #111827;

  --color-destructive: #ef4444;

  --color-ring: #111827;

  /* Hover support */
  --color-primary-90: #0f172a;
  --color-secondary-80: #e5e7eb;
}
